body{margin:0;}
/*#selection {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 999;
}
*/
#selection{
    position: absolute;
    border: 1px solid white;
}
#d1,#d2,#d3,#d4{
    position: absolute;
    background-color: cyan;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    
}
#d5,#d6,#d7,#d8{
    position: absolute;
    background-color: cyan;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#contenedorObjetos{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}
#dato{
    width: 80px;
    height: 40px;
    background-color:azure;
    margin: 3px;
}
#contenedorObjetos{
    overflow-y: scroll;
}